<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
    <suite name="SeleniumTestSuiteVDFramework">
        <test name="Scenarios">
            <classes>
                <class name="testcases.LoginTest">
                    <methods>
                        <include name="login"></include>
                    </methods>
                </class>
                <class name="testcases.ScenarioOne_DoveTest">
                    <methods>
                        <include name="DoveItemsTest"></include>
                    </methods>
                </class>
                <class name="testcases.ScenarioThree_SkinCareTest">
                    <methods>
                        <include name="SkinCareTest"></include>
                    </methods>
                </class>
                <class name="testcases.ScenarioTwo_ApparelTest">
                    <methods>
                        <include name="ShirtsAndShoesTest"></include>
                    </methods>
                </class>
                <class name="testcases.ScenarioFour_MensSectionTest">
                    <methods>
                        <include name="SelectMensProductTest"></include>
                    </methods>
                </class>
            </classes>
        </test>
    </suite>